@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper {
    position: relative !important;
}


.swiper-pagination {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 15px;
    border-radius: 15px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: fit-content !important;
    margin: auto !important;
    
    position: absolute !important; /* Ensures correct placement */
    bottom: 15px !important; /* Moves pagination UP from the bottom */
    left: 50% !important;
    transform: translateX(-50%) !important; /* Centers it horizontally */
}

.swiper-pagination-bullet {
    background: white !important;
    opacity: 0.7;
}

.swiper-pagination-bullet-active {
    background: rgb(13 255 78) !important;
    opacity: 1;
}
